.container-last-grid{
    text-align: center;
    width: 100%;
}
.btn-width{
    width: 30%;
    padding: 12px;
}
.topic-img{
    display: flex;
}
.footer{
    background-color: lightslategrey;
    height: 110px;  
    width: 100%;
}
